<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/markd/Desktop</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 906}}</string>
		<string>{{266, 0}, {1055, 906}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>17116AF1-16BA-4265-B778-E706920CB104</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>192F7B76-FB6B-421F-AFE0-64382254CB06</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1C528688-EA0A-47C4-B322-EF5D0AABACC5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2202932F-A8B7-4B00-AA93-E9BBECA09B60</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>27275F7D-EECF-459D-B021-606B3489E5AD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2747472D-2002-4446-A36B-8C180BF5D091</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3F4D8E6C-D92F-4752-B107-67106042FCF5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>443E71B3-99B9-474B-8E22-C77EBAAC56D5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>46CE7133-210D-4BEC-A4B3-B6FAE06A8E2A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4D28DF69-FDF3-4881-8CC1-6E2B34524237</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>50A32C9C-6329-42F2-BC99-3FF8062DABA5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5641A8C0-884F-4C39-9C47-EB7BFACB73F1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>582D65CD-CCA1-4039-953B-8D12FF3CCF43</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5C086951-837A-4440-86A3-CCD59365A5F9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5CEC07BA-066E-4865-8D50-08B40A1A0DED</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7215C885-E186-4240-ACFA-CD7B1D6F632C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7B5497BA-11C3-47DF-9206-D96886461FBC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7C28AFB4-EAD8-49D6-8C23-92A97F721015</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8A923DAD-19A5-4724-B83B-FE18F2879B24</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>93FCD41A-5598-44B7-93DD-63A65DE9435B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>972BB792-4967-4DE4-B54D-89B1ABCBCD83</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>99A3F5D6-285C-4371-81CC-8A6571F543F4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9AAE9019-2C23-4AC6-8773-AE4EAD1A3A1A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9E92B100-A9A6-4313-A094-ED2EBD697A39</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A42F653A-5904-496D-B075-51A58730EA6C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A6436AC0-69B8-4453-8809-5DB68D89BBE1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B53D55DC-4710-4155-B95B-74EB19A284E3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B95DC6DE-AA72-48C5-BD77-A2B21C0F862C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C417C2E1-1D64-454A-8AF0-A63962EDD65E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C515E0AE-12CB-471B-A9A5-CF29C326360E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C72A0A2F-75B0-43CF-B879-CA51D7027CB7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D6BF5C23-A4C7-4470-959D-A25B493A4F16</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DF135008-0F2F-47C4-A2FC-F2C330002479</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DFCEFD8B-828D-485A-AC8C-DB2201021917</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E2ED45D4-067C-451C-AFFC-B651A44D397B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F07F57F4-068E-4C7F-A73C-51B7101E94AB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F8214AF1-3160-43D5-BE60-CF4E7EC58302</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FA23F07E-F8E3-433F-A965-2B7854A16AE2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FDB4A859-DAD6-4F59-9A25-317ACED36283</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {809, 876}}</string>
		<string>{{810, 0}, {245, 876}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {794, 816}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>501 193 1321 934 0 0 2048 1127 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 290}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
